body {
    background-color: #252525;
}

h1, h3, h4, p, li {
   color: white; 
}

h3 {
    font-weight: bold;
}

hr {
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-top:  3%;
}

#title {
    font-weight: bold;
    color: #597088;
}

#list {
    font-weight: bold;
}

#bodytext {
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
}

p {
    margin-left: 3%;
}

img {
    width: 650px;
    height: 400px;
    margin-bottom: 2%;
}

#mockup {
    width: 750px;
    height: 500px;
    margin-bottom: 2%;
}


